.show{
    position:absolute;
    left:130px;
    top:0px;
}

.show_all{
	 float:left;
	 max-width:220px;
	 max-height:220px;
	 text-align:center;
	 font-size:0.8em;
	 padding-top:10px;
	 padding-left:10px;
}

.message{
	color:#666666;
	/*每一行的最大长度*/
	max-width: 220px;
	/*超出的文本隐藏*/
	overflow:hidden; 
	/*溢出用省略号显示*/
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
}

.page{
	position:absolute;
    left:360px;
    top:470px;
}